# Dependencias de Python
streamlit==1.2.0 
torch==2.0.1 
ultralytics==8.0.150
pafy==0.5.5
av
tensorflow-cpu
Pillow
numpy
protobuf
scikit-image

# Instalación de lap desde PyPI
lap==0.4.0  # Reemplaza con la versión específica de lap en PyPI que deseas utilizar
